* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', monospace;
}

/* ============= SLIDE PAGES ============= */

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.page {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.6s ease;
}

.container.slide .page1 {
  transform: translateX(-100%);
}

.container.slide .page2 {
  transform: translateX(-100%);
}

/* ============= CLOCK ============= */

.clock {
  width: 300px;
  height: 300px;
  border: 2px solid rgba(255,255,255,0.9);
  border-radius: 50%;
  position: relative;
  box-shadow: 
    0 0 15px rgba(255,255,255,0.25),
    0 0 40px rgba(255,255,255,0.15);
}

.clock::before {
  content: "";
  position: absolute;
  inset: -40px;
  border-radius: 50%;
  background: radial-gradient(circle,
  rgba(255,255,255,0.15),
  rgba(0,0,0,0) 70%);
  z-index: -1;
}

.time {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 21px;
  text-shadow: 0 0 10px rgba(255,255,255,0.5);
  letter-spacing: 2px;
}

/* Dots */
.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
}

.hour-dot {
  width: 14px;
  height: 14px;
  background: white;
  box-shadow: 0 0 12px rgba(255,255,255,0.9);
}

.minute-dot {
  width: 9px;
  height: 9px;
  background: #00ff6a;
  box-shadow: 0 0 12px rgba(0,255,106,0.9);
}

.second-dot {
  width: 6px;
  height: 6px;
  background: #00e5ff;
  box-shadow:
    0 0 10px rgba(0,229,255,1),
    0 0 20px rgba(0,229,255,0.8);
}

/* Buttons */
.back-btn {
  width: 23.4%;
  padding: 12px 0;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.3);
  background: rgba(255,255,255,0.15);   /* transparent white */
  backdrop-filter: blur(12px);          /* blur background */
  -webkit-backdrop-filter: blur(12px);  /* safari support */
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}


/* ============= MORSE UI ============= */

.page2 h2{
  color:white;
  margin-bottom: 15px;
  letter-spacing: 4px;
}

.morse-box{
  width: 360px;
}

textarea {
  width: 360px;
  height: 75px;
  background: rgba(255,255,255,0.08);
  border: 1px solid rgba(255,255,255,0.4);
  color: white;
  padding: 10px;
  border-radius: 10px;
  resize: none;
  outline: none;
  font-size: 14px;
}

textarea::placeholder {
  color: rgba(255,255,255,0.6);
}

.btn-area {
  margin: 10px 0;
  width:360px;
  display: flex;
  justify-content: space-between;
}

button {
  width: 48%;
}

